:root {
  font-size: 18px;
}
@font-face {
  font-family: "IBMSansReg";
  src: url(/fonts/ibm-plex/IBMPlexSans-Medium.otf);
}
@font-face {
  font-family: "IBMmono";
  src: url(/fonts/ibm-plex/IBMPlexMono-Light.otf);
}
@font-face {
  font-family: "IBMsans";
  src: url(/fonts/ibm-plex/IBMPlexSans-Thin.otf);
}
html {
  font-family: "IBMsans";
}
body {
  /** background-color: rgb(240, 234, 214);**/
  background-color: #212121;
  color: #f0f2ed;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: contextual;
}
h1,
h2 {
  line-height: 1.1;
}
h1 {
  font-family: "IBMmono", sans-serif;
}
#container {
  width: 100%;
  margin: 0 auto;
}

#rss img {
  display: inline;
  margin: 0 auto;
  max-width: 1em;
}
header {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
nav {
  max-width: 100%;
  padding: 10px 10px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
nav li {
  display: inline-flex;
  justify-content: center;
  padding: 10px 10px;
}
nav a {
  color: #f0f2ed;
  font-size: 1.1rem;
  text-decoration: underline;
  text-decoration-color: red;
  /*border: 1px solid darkgray;
  box-shadow: 1px 1px gray;
  border-radius: 1%;
  background: linear-gradient(#ffffff, #f9f9f9);*/
}

nav a:hover {
  text-decoration: none;
  background-color: #d61c1c;
}

nav img {
  max-height: 80%;
  max-width: 80%;
  display: block;
  border: 1px solid darkgray;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.footer {
  font-family: "IBMmono";
  text-align: center;
  padding: 20px;
}
@media (min-width: 600px) {
  html {
    font-size: 20px;
  }
  h1 {
    line-height: 1.1;
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }

  .container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 35px;
  }
}
