<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About | That's the Way It Is</title>
  <link rel="stylesheet" href="poststyle.css" type="text/css">
  </head>
  <body>

  <h1><a href="index.html">That's the Way It Is</a></h1>
  
  <h4>New ways of seeing movies</h4>
  
<h2>Title (director, year)</h2>
  

<div class="return"><h2><a href="index.html">back to home</a></h2></div>
<footer>
  <div class="footer">
      <span>A blog by Hayden Church | <a href="mailto:haydenchurch@protonmail.com">haydenchurch@protonmail.com</a> | <a href="https://www.twitter.com/bimbo_wrangler">@bimbo_wrangler</a></span>
  </div>
</footer>
</body>
</html>