@font-face {
  font-family: "ConcourseC6";
  src: url(fonts/Concourse/WOFF2_web/concourse_c6_regular.woff2);
}
@font-face {
  font-family: "ConcourseT3";
  src: url(fonts/Concourse/WOFF2_web/concourse_t3_regular.woff2);
}
:root {
  font-size: 20px;
}
body {
  font-family: "ConcourseT3", "Athelas", serif;
  color: #141414;
  background-color: rgb(240, 234, 214);
}

.container p {
  max-width: 50ch;
  line-height: 1.35;
  margin-left: auto;
  margin-right: auto;
}

a,
a:hover,
a:visited {
  color: #002fa7;
  text-decoration: none;
}

a:hover {
  outline: 2px solid black;
}

.container {
  padding: 20px;
  max-width: 60ch;
  margin: auto;
  color: #141414;
  background-color: #ffffff;
  border: 1px solid lightgray;
}
.container h1 {
  font-family: "ConcourseC6";
  text-align: center;
  font-size: 1.4rem;
}
.book-preview {
  margin: auto;
  padding-bottom: 20px;
}
