@font-face {
  font-family: "FiraSans";
  src: url(fonts/Fira_Sans_WEB_4301/Normal/Roman/FiraSans-Book.woff2);
}
@font-face {
  font-family: "FiraSansCondensed";
  src: url(fonts/Fira_Sans_WEB_4301/Condensed/Roman/FiraSansCondensed-Medium.woff2);
}

@font-face {
  font-family: "FiraSansCompressed";
  src: url(fonts/Fira_Sans_WEB_4301/Compressed/Roman/FiraSansCompressed-Book.woff2);
}

@font-face {
  font-family: "FiraSansMono";
  src: url(fonts/Fira_Mono_3_2/Fonts/FiraMono_WEB_32/FiraMono-Regular.woff2);
}

html {
  font-size: 18px;
}

body {
  font-family: "FiraSans";
  background-color: #f6f4f4;
  color: #3d3d3d;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: contextual;
}

.container {
  padding: 20px;
  max-width: 55ch;
  margin: auto;
}

.container a,
.container a:hover,
.container a:visited {
  font-family: "FiraSansCompressed";
  text-decoration: none;
  color: #c43e3d;
  /*  color: #002fa7; International Klein blue */
}

/* header at top of page*/
.container h1 {
  font-family: "FiraSansCondensed";
  font-size: 1.4rem;
  padding-bottom: 100px;
}

/* the dates that precede each blog post*/
.container h2 {
  font-family: "FiraSansMono";
  font-size: 1rem;
  list-style: none;
  padding-bottom: 10px;
}

/* the title for each blog post*/
.container h3 {
  font-family: "FiraSans";
  font-size: 1.1rem;
  margin-bottom: 25px; /* the space between the blog title and the blog body text*/
}

/* the body text for the blog posts*/
p {
  min-width: 45ch;
  width: auto;
  line-height: 1.45;
  margin-bottom: 0.6rem; /* space between paragraphs*/
}

.container pre {
  font-family: inherit;
  line-height: 1.45;
}

/* blockquote body text within a post */
.container blockquote {
  font-family: "FiraSansCompressed";
  font-size: 0.95rem;
  min-width: 45ch;
  max-width: 65ch;
  line-height: 1.4;
}

.container img {
  outline: 1px solid black;
  height: 75%;
  width: 75%;
}

/* the link that ends each post and lets the reader go back to the beginning*/
.container footer {
  margin-bottom: 60px;
}
.copyright-footer {
  text-align: center;
  padding-bottom: 15px;
}

@media (min-width: 550px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 20px;
  }
  .container {
    max-width: 65ch;
  }
  .container p {
    line-height: 1.5;
    margin-bottom: 0.8rem;
  }
  .container blockquote {
    line-height: 1.5;
  }
}
