@font-face {
  font-family: "FiraSans";
  src: url(fonts/Fira_Sans_WEB_4301/Normal/Roman/FiraSans-Book.woff2);
}
@font-face {
  font-family: "FiraSansCondensed";
  src: url(fonts/Fira_Sans_WEB_4301/Condensed/Roman/FiraSansCondensed-Light.woff2);
}

@font-face {
  font-family: "FiraSansMono";
  src: url(fonts/Fira_Mono_3_2/Fonts/FiraMono_WEB_32/FiraMono-Regular.woff2);
}

body {
  font-family: "FiraSans";
  font-size: 16px;
  background-color: #f6f4f4;
  color: #3d3d3d;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: contextual;
}

.container {
  padding-left: 3em;
  padding-right: 3em;
  max-width: 55ch;
  width: 100%;
  margin: auto;
}

.container h2,
.container h3,
.container p,
.container li {
  margin: 0;
}
.container a,
.container a:hover,
.container a:visited {
  text-decoration: none;
  color: #c43e3d;
  /*  color: #002fa7; International Klein blue */
  letter-spacing: 0.03em;
}

/* header at top of page*/
.container h2 {
  font-size: 1.5em;
  padding-bottom: 100px;
}

/* the dates that precede each blog post*/
.container li {
  font-family: "FiraSansMono";
  font-size: 1.1em;
  list-style: none;
  padding-bottom: 10px;
}

/* the title for each blog post*/
.container h3 {
  font-family: "FiraSans";
  font-size: 1.2em;
  margin-bottom: 25px; /* the space between the blog title and the blog body text*/
}

/* the body text for the blog posts*/
.container p {
  line-height: 1.35;
  margin-bottom: 0.6em; /* space between paragraphs*/
}

.container pre {
  font-family: inherit;
  line-height: 1.45;
}

/* blockquote body text within a post */
.container blockquote {
  font-size: 0.94em;
  line-height: 1.32em;
}

/* the link that ends each post and lets the reader go back to the beginning*/
.container footer {
  margin-bottom: 60px;
}
.copyright-footer {
  text-align: center;
  padding-bottom: 15px;
}

@media (min-width: 900px) {
  body {
    font-size: 20px;
  }
  .container {
    max-width: 65ch;
  }
  .container p {
    line-height: 1.5;
    margin-bottom: 0.8em;
  }
  .container blockquote {
    line-height: 1.4em;
  }
}
