@font-face{
    font-family:"NHaas";
    src:url(fonts/NHaasGroteskTXPro-55Rg.woff);
}

body{
    background-color:black;
    color:white;
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
}

h1, h2, h3, h4{
    font-family:"NHaas", Arial, Helvetica, sans-serif;
}

h1{
    font-size: 30px;
}

h2{
    font-size:27px;
}

h3{
    font-size:25px;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif'Times New Roman', Times, serif;
    font-size:20px;
    line-height:1.45;
}

a{
    color: #A54657;
    text-decoration:none;
}

a:hover{
    background-color:whitesmoke;
    text-decoration:none;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:95%;
    border:1px dotted white;
}


#textdiv{
    height:auto;
    width:700px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    padding-top:1%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:1%;
    border:1px double #A54657;
}

#referencediv{
    width:700px;
    height:auto;
    margin-left:55px;
    margin-right:auto;
}