@font-face{
    font-family:"NHaas";
    src:url(fonts/NHaasGroteskTXPro-55Rg.woff);
}
@font-face{
    font-family:"Charter";
    src:url(fonts/Charter-Regular.ttf);
}
body{
    background-color:gainsboro;
}

h1, h2, h3, h4, p, li{
    font-family:"NHaas";
}
a{
    color: #A54657;
    text-decoration-color:#A54657;
}
a:hover{
    background-color:lightgray;
}

#logodiv{
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:30px;
}
#indexdiv{
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5%;
    padding-left:2%;
    width:500px;
    border:1px solid black;
    box-shadow: 2px 2px darkgray;
}

#indexdiv li{
    font-size:150%;
}

ul{
    list-style: none;
}
