@font-face{
    font-family: "CooperHewitt";
    src: url(fonts/CooperHewitt-Book.woff);
}
@font-face{
    font-family: "CooperHewitt";
    src: url(fonts/CooperHewitt-Thin.woff);
    font-style: italic;
}
@font-face{
    font-family: "Charter";
    src: url(fonts/Charter-Regular.ttf);
}
@font-face{
    font-family:"SourceSerif";
    src: url(fonts/SourceSerifPro-It.ttf);
    font-style: italic;
}
@font-face {
    font-family: "SourceSerif";
    src: url(fonts/SourceSerifPro-Bold.ttf);
    font-weight:bold;
}
@font-face{
    font-family:"SourceSerif";
    src: url(fonts/SourceSerifPro-Regular.ttf);
}
body {
    background-color:white;
    color: black;
    width: 650px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
h1 {
    font-family: "CooperHewitt";
}
h1{
    text-align:center;
    font-size:40px;
}
h2{
    font-family:"CooperHewitt";
    font-size:30px;
    text-transform:lowercase;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    font-size:20px;
    font-family: "CooperHewitt";
    text-transform:lowercase;
}
a:link{
    color:black;
 text-decoration-color: #dd2429;
}
a:visited{
    color:black;
 text-decoration-color:#dd2429;
}

footer {
    position: relative;
    left:50;
    text-align:center;
    width:auto;
    height:15px;
    font-family: "CooperHewitt";
}
footer a:link{
    color:gray;
}