@font-face{
    font-family:"NHaas";
    src:url(fonts/NHaasGroteskTXPro-55Rg.woff);
}
body{
    background-color:gainsboro;
}
a{
    color:black;
    text-decoration:none;
}
a:hover{
    background-color:lightgray;
}
#logodiv{
    font-family:"NHaas";
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:70px;
}
#containerdiv{
    font-family:"NHaas";
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    width:500px;
    border:1px solid black;
    box-shadow: 2px 2px 2px 2px darkgray;
}
#aboutdiv, a{
    text-align:center;
    color:black;
    text-decoration:none;
}
#specialdiv{
    padding-left:5%;
}
ul{
    list-style: none;
}
