@font-face {
  font-family: "NHaasGroteskReg";
  src: url(fonts/NHaasGrotesk/NHaasGroteskTXPro-55Rg.woff);
}

body {
  font-family: "NHaasGroteskReg";
  background-color: #f6f4f4;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
}

h1,
h2 {
  line-height: 1.1;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}

a,
a:hover {
  color: #002fa7;
  text-decoration: none;
}

.container {
  padding-left: 5px;
  margin-bottom: 20px;
  background-color: #f6f4f4;
}

.container-links {
  outline: 1px solid black;
  line-height: 1.35;
  padding-left: 5px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #f6f4f4;
}
