body {
    background-color: black;
    color:white;
    width: 650px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
@font-face{
    font-family:"CooperHewitt";
    src: url(fonts/CooperHewitt-Bold.woff);
}
@font-face{
    font-family: "Charter";
    src: url(fonts/Charter-Italic.ttf);
}
@font-face{
    font-family: "Charter";
    src: url(fonts/Charter-Bold.ttf);
}
@font-face{
    font-family: "Charter";
    src: url(fonts/Charter-Regular.ttf);
}
h1,h2 {
    font-family: "CooperHewitt";
}
h1{
    text-align:center;
    font-size:40px;
}
h2{
font-size:30px;
text-transform: lowercase;
}
p{
    font-family:"Charter", Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    text-indent: 25pt;
    line-height: 150%;
}
a:link{
    color:white;
    text-decoration-color: black;
}
a:visited{
    color:white;
    text-decoration-color: black;
}
a:hover{
    text-decoration-color:white;
}
footer {
    position: relative;
    text-align:center;
    width:auto;
    height:auto;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:medium;
}