@font-face{
    font-family:"Charter";
    src:url(fonts/Charter-Regular.ttf);
}
@font-face{
    font-family:"Charter Italic";
    src:url(fonts/Charter-Italic.ttf);
}
@font-face{
    font-family:"NHass";
    src: url(fonts/NHaasGroteskTXPro-55Rg.woff);
}
@font-face{
    font-family:"NHass Bold";
    src: url(fonts/NHaasGroteskTXPro-75Bd.woff);
}
body{
    width:650px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
h1{
    font-family:"NHass Bold";
}
h2{
    font-family:"NHass Bold"
}
p{
    font-family:"Charter";
    font-size:20px;
    line-height:30px;
}
p a{
    font-family:"NHass";
    color:black;
    text-transform: lowercase;
    text-decoration: none;
}
p a:hover{
    background-color: lightgray;
}
footer{
    position: relative;
    margin:auto;
    font-family:"NHass";
    font-size:15px;
    text-transform:lowercase;
}

footer a{
    color:black;
    text-decoration:none;
}
footer a:hover{
    background-color: lightgray;
}
blockquote{
    font-family:"Charter";
    font-size:18px;
    line-height:28px;
}
.references p{
    font-size:18px;
    line-height:22px;
}