/* Copyright 2007 Delicious Monster Software */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    background: #091e12 url(images/mainbg.jpg);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: none;
}

#container {
    position: relative;
    margin: 0 auto;
    width: 967px;
    background: url(images/bodybg.png);
    z-index: 1;
}

#overlay {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -473px;
    width: 945px;
    height: 236px;
    background: url(images/leavesheader.png);
    z-index: 2;
}

#header {
    width: 100%;
    background: url(images/mainbg.jpg);
}

#header_cap {
    height: 180px;
    background: url(images/bodyheader.png) 1px 149px no-repeat; /* 180px - 31px (image height) */
}

/* @group Collection Info */

#collection_info_section {
    width: 100%;
    height: 100px;
}

#collection_info_section > #librarybanner {
    float: left;
    margin: 14px 0 0 36px;
    opacity: 0.95;
}

#collection_info_section > #collection_info {
    position: relative;
    margin: 0 26px 0 auto;
    padding: 14px 0 0 16px;
    width: 313px; /* 329px - 16px */
    height: 78px; /* 92px - 14px */
    color: #ccc;
    background: url(images/infobox.png) no-repeat;
}

#collection_info_section > #collection_info > #user_image {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 16px 0 0;
    background: #f5f5f5;
    border: 1px solid #444;
}

#collection_info_section > #collection_info > #user_image img {
    width: 60px;
    height: 60px;
}

#collection_info_section > #collection_info > #user_name {
    margin: 0 10px;
    font-size: 1.6em;
    font-weight: bold;
    text-shadow: black 0px 1px 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#collection_info_section > #collection_info #stats {
    margin-top: 14px;
}

#collection_info_section > #collection_info #total, #collection_info_section > #collection_info #updated {
    font-size: 1.2em;
    line-height: 1em;
    text-shadow: black 0px 1px 1px;
    width: 108px;
}

#collection_info_section > #collection_info #total {
    float: left;
}

#collection_info_section > #collection_info #updated {
    float: right;
}

/* @end */

#wrap {
    position: relative;
    min-height: 100%;
}

#content {
    position: relative;
    width: 100%;
}

/* @group Sidebar */

#sidebar {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    text-align: left;
}

#sidebar > .navigation_header, #sidebar > .navigation_footer {
    margin-left: 30px;
    width: 195px;
}

#sidebar > .navigation_header {
    margin-top: -3px;
    height: 19px;
    background: url(images/sidebar-header.png) top left no-repeat;
}

#sidebar > .shelf_selection {
    margin-left: 30px;
    width: 195px;
    padding: 10px 0 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 3.6em;
    background: url(images/sidebar-bg.png) top left repeat-y;
}

#sidebar > .shelf_selection > .shelf {
	display: block;
    width: 157px; /* 167px - 10px */
	padding-left: 10px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#sidebar > .shelf_selection > .shelf > img {
	margin-right: 6px;
    vertical-align: -10px;
}

#sidebar > .shelf_selection > .shelf.selected {
    color: rgb(255, 255, 255);
    background: url(images/sidebar-selected.png) no-repeat;
}

#sidebar > .navigation_footer {
    height: 19px;
    background: url(images/sidebar-footer.png) top left no-repeat;
}

/* @end */

/* @group Collection */

#collection {
    position: relative;
    float: right;
    width: 75%;
    min-height: 100%;
}

#collection > #media {
    min-height: 640px; /* 224px * 3 - 32px*/
    margin-right: 32px;
    background: url(images/shelf.png) top left repeat-y;
    padding-bottom: 224px;
}

#collection > #media > table {
    border-spacing: 0;
    font-size: 0.8em;
}

#collection tr, td {
    margin: 0;
    padding: 0;
}

#collection > #media .medium {
    float: left;
    position: relative;
    width: 140px;
    height: 190px;
    margin: 22px 30px 12px 50px;
    text-align: center;
    font-size: 1em;
}

#collection > #media .medium > .title {
    height: 49px;
    vertical-align: top;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1em;
    color: #ccb1aa;
    text-shadow: 2px 2px 1px black;
    text-overflow: ellipsis;
    overflow: hidden;
}

#collection > #media .medium > .cover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    overflow: hidden;
    
    cursor: pointer;
}

#collection > #media .medium > .cover img {
	vertical-align: -142px;
}

#collection > #media .medium > .creator, #collection > #media .medium > .rating, #collection > #media .medium > .description {
    display: none;
}

/* @end */

/* @group Details */

#details {
    position: fixed;
    width: 690px;
    bottom: 0;
    left: 50%;
    margin-left: -238px;
    
    background: url(images/details-shadow.png) top left no-repeat;
    z-index: 100;
}

.details_visible {
    height: 180px;
}

.details_hidden {
    height: 0px;
}

#details > #details_top {
	margin-top: 5px;
    background: #eee;
}

#details #drag_handle {
	text-align: center;
    margin: 0 auto;
    
    cursor: move;
}

#details #title {
	width: 80%;
    height: 26px;
	margin-top: 2px;
	padding: 0 20px;
	
    font-size: 2em;
	font-weight: bold;
	text-shadow: 0 1px 1px white;
	
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#details #creator {
	height: 26px;
	padding: 0 20px;
	
	font-size: 1.4em;
	font-weight: bold;
    text-shadow: 0 1px 1px white;
    color: #656565;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
	
#details #rating {
	float: right;
	margin: 7px 20px 0 0;
	
    font-size: 2em;
    line-height: 0.8em; /* 1.6em / 2em */
    letter-spacing: -3px;
}

#details > #description {
	padding: 10px 20px 20px;
	height: 84px;
	overflow-y: auto;
    
    background: white;
    border-top: 1px solid #ccc;
    font: 1.2em/1.3333333em Georgia, "Times New Roman", Times, serif;
}

/* @end */

#footer {
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
    width: 967px;
    clear: both;
    color: #300d00;
    
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 124, 61, 0.5);
    z-index: 2;
}

#footer img {
	height: 22px;
    margin-right: 10px;
    vertical-align: bottom;
}

#footer a {
	line-height: 22px;
}


#footer p {
    color: #d75a23;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
